@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color:orangered
}
a{
  text-decoration: none;
  color: #999;
}
ul{
  list-style: none;
}

/* the navbar in the header */

#nav{
  padding: 1.3em 1em 1em 1em;
  display: flex;
  justify-content: space-between;
}

#suggestMyMovieLogo{
  width: 70px;
}

#nav-right{
  background-color: orange;
  height: 54px;
  width: 93%;
  display: flex;
  flex-direction: row-reverse;
}

#nav-right h1{
  flex: 1;
  align-self: center;
  text-align: center;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.1em;
  color: #111;
}

#nav-right ul{
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  min-width: 27vw;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

#nav-right ul li{
  cursor: pointer;
  padding: 1em;
  font-size: 1.7em;
}

#nav-right ul li a{
  color: #111;
}

#nav-right ul li:hover{
  background-color: #ecc94b;
}
#nav-right ul li.current{
  background-color: #ecc94b;
}

/* cirtification information article */

#certificationInfo{
  width: 100%;
  background-color: #fbd38d;
}

#infoHeading{
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 2.1em;
  font-family: 'Raleway' , Tahoma, Geneva, Verdana, sans-serif;
}

#infoSpace{
  width: 100%;
  padding: 0  1em 1em 1em;
  display: flex;
  justify-content: space-evenly;
}

.certificateInfo{
  flex: 1;
  padding: 1em;
  border: 1em solid orangered;
  background-color: orange;
  font-family: 'Raleway' , Tahoma, Geneva, Verdana, sans-serif;
}